*,
*::after,
**::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ebd8b4;
    color: rebeccapurple;
    font-size: 16px;
}

.footer-nav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: royalblue;
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 100px;
    background-color: yellow;
    border: none;
    outline: none;
    width: 100px;
    height: 60px;
    cursor: pointer;
    transition: all 5s;
}
.btn:hover {
    background-color: tomato;
    font-size: 150px;
}

.btnactive {
    background-color: teal;
}
